@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  .light,
  .system.light {
    --text-color-base: 30 41 59;
    --text-color-highlight: 98 118 230;
    --text-color-valid: 74 180 148;
    --text-color-invalid: 244 63 94;
    --text-color-link: 56 109 248;

    --ring-color-base: 150 150 150;
    --ring-color-highlight: 82 82 82;
    --ring-input-color-valid: 20 220 110;
    --ring-input-color-validating: 256 150 10;
    --ring-input-color-invalid: 240 63 99;

    --bg-color-steps: 25 25 25;
    --bg-color-base: 250 250 250;
    --bg-color-card: 245 245 245;

    --btn-bg-color-base: 20 200 120;
    --btn-bg-color-highlight: 100 170 228;

    --user-img-bg-color: 40 175 220;
    --icon-stroke-color: 30 41 59;
  }

  .dark,
  .system.dark {
    --text-color-base: 228 228 231;
    --text-color-highlight: 220 220 23;
    --text-color-valid: 74 222 128;
    --text-color-invalid: 244 63 94;
    --text-color-link: 56 189 248;

    --ring-color-base: 82 82 82;
    --ring-color-highlight: 140 140 140;
    --ring-input-color-valid: 134 239 172;
    --ring-input-color-validating: 251 146 60;
    --ring-input-color-invalid: 244 63 94;

    --bg-color-steps: 38 38 38;
    --bg-color-base: 20 20 20;
    --bg-color-card: 38 38 38;

    --btn-bg-color-base: 40 120 180;
    --btn-bg-color-highlight: 40 175 130;

    --user-img-bg-color: 40 175 140;
    --icon-stroke-color: 228 228 231;
  }
}

@layer utilities {
  .h2 {
    @apply rounded-md bg-color-base bg-opacity-40 p-4 text-center text-xl tracking-wide ring-1 ring-color-highlight;
  }
  .grid-container {
    @apply mx-4 mb-20 grid min-w-[32rem] grid-cols-[repeat(auto-fit,minmax(32rem,.5fr))] justify-center gap-8 rounded-md p-8 shadow-md ring-2 ring-color-base;
  }
  .btn-circle {
    @apply h-12 w-12 cursor-pointer rounded-full ring-2 ring-color-base hover:ring-color-highlight active:bg-btn-color-highlight xs:h-16 xs:w-16;
  }
  .center-absolute {
    @apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .input-err-msg {
    @apply mt-4 text-xl text-color-invalid;
  }
  .li-item {
    @apply rounded-md bg-color-card py-3 px-4 capitalize tracking-wider ring-1 ring-color-base transition-colors hover:bg-color-base hover:ring-color-highlight;
  }
}

:root {
  font-family: Roboto Mono, sans-serif;
  font-size: 10px;
  min-width: 320px;
  color: #ffffffde;
  background-color: #212121;
}

#root {
  min-height: 100vh;
}
